<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/BottomsInstyle.css" rel="stylesheet" />
@model IEnumerable<MyWordrobeBL.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-4">
        <a href="~/Home/Index"> <img src="~/Content/iconeOtherpics/icons8-back-arrow-64.png" /> <P>go back</P></a>

    </div>
    <div class="col-lg-4">
        <h2>pants</h2>
    </div>
    <div class="col-lg-4 last">
        <a href="~/Bottoms/Create">
            <img src="~/Content/iconeOtherpics/icons8-add-64.png" />    <p>add new pants</p>
        </a>

    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3"></div>
        <div class="thumbnail">


            <img src="@Html.DisplayFor(modelItem => item.Photo.Photo1)" width="200" height="200" />

            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.BottomsID }) |
                @Html.ActionLink("Details", "Details", new { id = item.BottomsID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BottomsID })
            </p>
        </div>
    }
        <div class="nav navbar">
            <ul>
                <li><a href="~/Home/Index">home</a></li>
                <li><a href="~/Tops/Index">tops</a></li>
                <li><a href="~/Bottoms/Index">bottoms</a></li>
                <li><a href="~/Shoes/Index">shoes</a></li>
                <li><a href="~/Accesories/Index">accessories</a></li>
                <li><a href="~/Outfits/Index">outfits</a></li>
            </ul>
        </div>
            <footer>

                <p id="foot">&copy; @DateTime.Now.Year - My Wordrobe Application</p>

            </footer>
        
         

</div>




