<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Wordrobe Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    
        @RenderBody()

    <footer>
        <div class="nav navbar">
            <ul>
                <li><a href="~/Home/Index">home</a></li>
                <li><a href="~/Tops/Index">tops</a></li>
                <li><a href="~/Bottoms/Index">bottoms</a></li>
                <li><a href="~/Shoes/Index">shoes</a></li>
                <li><a href="~/Accesories/Index">accessories</a></li>
                <li><a href="~/Outfits/Index">outfits</a></li>
            </ul>

            <p id="foot">&copy; @DateTime.Now.Year - My Wordrobe Application</p>
        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
